.elements__like {
  width: 27px;
  height: 19px;
  padding: 0;
  border: none;
  background: none;
  background-image: url('../../../images/stroke.svg');
  background-repeat: no-repeat;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.elements__like:hover {
  opacity: 0.5;
}